<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="C_Sharp_Canvas_Demo.Properties.Settings.DemoConnectionString"
            connectionString="Data Source=DENORALT772;Initial Catalog=Demo;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>